body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;

}

header, footer, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav, .herocontent, .quote, .calltoaction {
    margin: 0px 400px;
}

button {
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

/* Nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0px;
    padding: 0px;
}

nav header {
    font-weight: bold;
    font-size: 24px;
}

/* Hero */
.herocontent {
    display: flex;
    gap: 50px;
    padding: 50px;
}

.hero img {
    height: 300px;
    width: auto;
}

.hero button {
    border: none;
}

.herotext {
    font-size: 18px;
}

.herotext h1 {
    font-size: 48px;
    margin: 5px;    margin-top: 0px;
}

/* Information */
.information {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
}

.information h2 {
    font-size: 32px;
}

.content {
    display: flex;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.card img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}

/* Quote */
.quotecontainer {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    padding: 100px;
    color: #1f2937
}

.author {
    margin-left: 55%;
    font-weight: 600;
    font-size: 28px;
}

/* Call to Action */
.calltoaction {
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border-radius: 10px;

    color: white;

    display: flex;
    justify-content: space-around;  
    align-items: center;
}

.calltoaction button {
    border: 2px solid white;
}

.calltoaction h3 {
    font-size: 24px;
    margin: 0px 0px 5px 0px;
}

/* Footer */
footer {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


