body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

header, footer, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0px;
    padding: 0px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
}

.hero {
    display: flex;
}

.content {
    display: flex;
}

.card {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding: 20px;
}

.card img {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #3882F6;
}

.calltoaction {
    background-color: #3882F6;
}

button {
    background-color: #3882F6;
    color: white;
}